<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.anike.emaildownloader</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/EmailDownloader.app/Contents/MacOS/EmailDownloader</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.anike.emaildownloader.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.anike.emaildownloader.out</string>
</dict>
</plist>

